{% extends "base.html" %}
{% block app_content %}
    <div class="square"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {
            namespace = '/flask';
            var sio = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            $(".square").css("background-color", "rgb({{ colors.values() | join(', ') }})");
            sio.on('square', function (msg) {
                $(".square").css("background-color", "rgb("+ msg.red + ", " + msg.green + ", " + msg.blue + ")");
            });
        })
    </script>

    {{ super() }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flask.css') }}">
    {{ super() }}
{% endblock %}
