{% extends "base.html" %}
{% block app_content %}
    <h3>Status: <span id="status">Disconnected</span></h3>
    <p>Average connection latency: <b><span id="ping-pong">ms</span></b></p>
    <div id="button-container">
        <button id="start-button">Start</button>
        <button id="stop-button">Stop</button>
        <span id="message" style="color:red;"></span>
    </div>
    <div id="log-view"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/latency.js') }}"></script>
    {{ super() }}
{% endblock %}
