{% extends "base.html" %}
{% block app_content %}
    {% for k, v in colors.items() %}
        <label for="{{ k }}" class="form-label">Color: {{ k }}</label>
        <input id="{{ k }}" class="slider" type="range" min="0" max="255" value="{{ v }}">
        {% if not loop.last %}
            <br><br>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flask.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
    {{ super() }}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function () {
            namespace = '/flask';
            var sio = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            $("input.slider").on('input', function () {
                sio.emit('colors', {'color': $(this).attr('id'), 'value': $(this).val()});
                return false;
            });

            sio.on('update_sliders', function (msg) {
                $("input#" + msg.color).val(msg.value);
            });

            $("input.form-range").on('input', function () {
                console.log('Custom: ' + $(this).val());
            });
        })
    </script>
    {{ super() }}
{% endblock %}
