{% extends "base.html" %}

{% block app_content %}
    <h1>Empty content</h1>
    <br>
    <br>
    <label for="customRange1" class="form-label">Example range</label>
    <input type="range" class="slider" id="customRange1" min="0" max="255">
{% endblock %}

{% block styles %}
    {{ super() }}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" charset="UTF-8">
    $(document).ready(function () {
        $("input.slider").on('input', function () {
            console.log('Custom: ' + $(this).val());
        });
    })
    </script>
    {{ super() }}
{% endblock %}
